*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

@font-face{
	font-family: aa;
	src:url(evolve.otf);
}
@font-face{
	font-family: w;
	src:url(w.ttf);
}
header{
	max-width: 1300px;
	margin: 10px auto;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	font-size: 1.5vw;
	position: -webkit-sticky;
    position: sticky;
}
.logo{
	color: #069370;
	height: 60px;
	font-size: 36px;
	line-height: 60px;
	padding: 0 10px;
	background: #ccc;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;

	text-decoration: none;
}

nav{
	float: right;
}

.clearfix{
	clear: both;
}

nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;

}

nav ul li a.active,
nav ul li a:hover{
	background: #000;
	color: #fff;
	transition: 0.2s;
}

@media(max-width: 1500px){
	header{
		margin: 20px;
	}
	.menu-toggle{
		display: none;
	}
}

@media(max-width: 768px){
	.menu-toggle{
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		background: #ccc;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #069370;
	}

	.menu-toggle:before{
		content: ''; 
	}
	nav{
		display: none;
	}
}
main{
	z-index: 10;
}

.box-1{
	width: 95%;
	height: 95vh;
	margin: auto;
	background-image: linear-gradient(to right bottom, rgba(115, 194, 251, 0.6), rgba(0, 128, 255, 0.6)), url(grrr.png);
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;

  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	font-family: w;
  	font-size:12vw;
  	color: rgba(255,255,255,1);
  	padding-top: 14vw;
  	border: 2px solid;

}
.box-2{
	width: 80%;
	height: 95vh;
	margin: auto;
	display: block;
	background-color: rgba(255,255,255,1);
	position: absolute;
	top: 90vh;
	left: 20vh;
	text-align: right;
	font-family: aa;
	font-weight: 200px;
	font-size: 070px;
	padding: 10px 60px;
}

hr{
	width:95%; 
	z-index: 10;
	position: absolute;
}
.ww{
	font-size: 30px;
	font-family: cambria;
	text-align: justify;
	padding-bottom: 40px;
}

footer{
	height: 60vh;
	background: rgba(0,0,15,0.7);
	color: rgba(255,255,255,1);
	padding-bottom: 20px;
	height: auto;
	position: absolute;
	top: 250vh;

}
.box1{
	width: 45%;
	padding: 20px 20px 20px 60px;
	font-size: 20px;
}
.box2{
	width: 30%;
	padding: 20px;
	font-size: 20px;
}
.box3{
	width: 30%;
	padding: 20px;
	font-size: 20px;
}
.head{
	font-weight: 900;
	font-family: w;
	font-size: 40px;
}
.ll{
	width: 20%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 5%;

}

.lo{
	width: 40%;
	height: auto;
}

.container{
	display: flex;
}
@media screen and (max-width: 600px){
			.box1{
				width: 90%;
			}
			.box2{
				display: none;
			}
			.box3{
				display: none;
			}
		}

}
@media screen and (max-width: 1200px){
	footer{
		position: absolute;
		top: 290vh;
	}
}
@media screen and (max-width: 1125px){
	footer{
		position: absolute;
		top: 320vh;
	}
}
@media screen and (max-width: 922px){
	footer{
		position: absolute;
		top: 350vh;
	}
}
@media screen and (max-width: 769px){
	footer{
		position: absolute;
		top: 450vh;
	}
}
@media screen and (max-width: 612px){
	footer{
		position: absolute;
		top: 480vh;
	}
}